<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

My Jupyter Notebook on IBM Studio

**Perdamen Sagala**

Data Scientist

*I am interested in data science because it will help to make better decision*

*I am interested in data science because it will help to make better decision*

### Compute 1+9

In [2]:
1+9

10

***
This is a sentence with horizontal rule
***

This is bulleted list of countries that speak Malay
- Indonesia
- Malaysia
- Brunei

This is numbered list of data related jobs
1. Data Analyst
2. Business Analyst
3. Data Scientist

This is an example of a table

| Region   | Country  |
| -------- | -------- |
| Asia            | China           |
| Europe          | Spain           |


Here is Coursera link [https://www.coursera.org/]

***
This is a sentence with horizontal rule
***

This is bulleted list of countries that speak Malay
- Indonesia
- Malaysia
- Brunei

This is numbered list of data related jobs
1. Data Analyst
2. Business Analyst
3. Data Scientist

This is an example of a table

| Region   | Country  |
| -------- | -------- |
| Asia            | China           |
| Europe          | Spain           |


Here is Coursera link [https://www.coursera.org/]